    <footer>
        <!-- Agrega aquí el contenido del pie de página -->
        <p>Derechos de autor &copy; {{ 'now'|date('Y') }} Mi Sitio Web. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
